<html>
	<head>
		<title>Senior Project Inc tm</title>
		<style>
			body {
				background-color: lightblue;
			}

			li {
				display: inline;
				padding: 8px;
				background-color: grey;
			}
		</style>
	</head>
	
	<body>
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/create_account">Create Account</a></li>
			<li><a href="/shop">Store</a></li>
			<li><a href="/cart">Cart</a></li>

		</ul>

		<h1>Welcome to our cool online store</h1>
		</br>
		<p>Specials today on lorem ipsum</p>
	</body>		
</html>
